/* common styles */

body {
    font-family: 'Josefin Sans',
        sans-serif;
    font-family: 'Poppins',
        sans-serif;
    width: 100%;
    height: 100%;
    /* position: relative;
    width: 1600px;
    height: 2534px; */

    background: #FFFFFF;
}

/* first container */
.container {
    background-color: #161616;
    width: 80%;
    /* Width: 82.563rem;
    Height: 40.375rem; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
    margin-Left: 140px;
    padding: 16px 25px;
    gap: 10px;
    border-radius: 30px;

}

.header-txt {
    color: #FFFFFF;
    width: 33.188rem;
    height: 26.5rem;
}

.h1 {
    font-size: 4.375rem;
    font-weight: 700;
}

.para {
    margin-top: 16px 0 0 25px;
    font-size: 1.25rem;
}

.btn1 {
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 16px 25px;
    border-radius: 5px;
    margin: 10px;

}

.header-img {
    width: 36.313rem;
    height: 39.438rem;
}

/* first container styles end */

/* main styling start */
.buttons-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    width: 58.5rem;
    height: 67.875rem;
    margin-top: 8.125rem;
    gap: 1.5rem;

}

.group-buttons {

    width: 19.5rem;
    height: 19.5rem;
    margin-bottom: 51.625rem;
    margin-left: 60%;
    background: #161616;
    border-radius: 10px;
}


.buttons {
    width: 15.75rem;
    height: 15.75rem;
    margin-right: 30px;
    padding: 30px;
}

.btn2 {
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

.btn3 {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

.btn4 {
    background: #DD0000;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

/* player information style start */

.all-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.player-details {
    margin-top: 50px;
    margin-left: 40px;
}

.all-content>.player-details .img> {
    margin-top: 307px;


}

/* footer part start */
.footers {
    background: #161616;
    /* width: 100%;
    height: 200px; */
    width: 100rem;
    height: 27.75rem;
    margin-top: 60px;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 130px;
    /* margin-left: 0px; */
    /* margin-top: 2090px; */

}

.footers>h2 {
    color: #FFFFFF;
    margin-left: 46%;
}

.footers>hr {
    opacity: 0.2;
}

.footer>a {
    color: #FFFFFF;
    font-size: 16px;
    /* margin: 21.94% 21.94% 93.92% 5.13%; */
    margin: 10px 60px;
    text-decoration: none;

}